<h1>Enrollments#edit</h1>
<p>Find me in app/views/enrollments/edit.html.erb</p>

<%= form_for([@enrollment]) do |f| %>
  points
  <%= f.text_field :points, placeholder: "Points" %>
 
  <%= f.submit %>
<% end %>

